<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap-sqlite.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="Relevanssi Light tests">
			<directory suffix=".php">tests</directory>
			<exclude>tests/wp-tests-config-sqlite.php</exclude>
			<exclude>tests/bootstrap-sqlite.php</exclude>
			<exclude>tests/bootstrap.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
